/* Table.css */

.table-container {
    display: table;
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-cell {
    box-sizing: border-box;
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.header-cell {
    cursor: pointer;
}

.header-cell:hover {
    background-color: #ddd;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

